<nav class="menu">
    <ul class="menu__list">
        <li class="menu__list-item">
            <a class="menu__link" href="../../books.hbs" onmouseover="highlightMenuItem(this)" onmouseout="unhighlightMenuItem(this)">Books</a>
        </li>
        <li class="menu__list-item">
            <a class="menu__link" href="../../authors.hbs" onmouseover="highlightMenuItem(this)" onmouseout="unhighlightMenuItem(this)">Authors</a>
        </li>
        <li class="menu__list-item">
            <a class="menu__link" href="../../fetch.hbs" onmouseover="highlightMenuItem(this)" onmouseout="unhighlightMenuItem(this)">Contacts</a>
        </li>
        {{#unless logged}}
            <li class="menu__list-item">
                <a class="menu__link" href="loginform.hbs" onclick="showRegistrationForm()" onmouseover="highlightMenuItem(this)" onmouseout="unhighlightMenuItem(this)">Log in</a>
            </li>
        {{else}} 
            <li class="menu__list-item">
                <a class="menu__link" onmouseover="highlightMenuItem(this)" onmouseout="unhighlightMenuItem(this)">{{accountName}}</a>
            </li>
        {{/unless}}
        <li class="menu__list-item">
            <a class="menu__link" href="#" onmouseover="highlightMenuItem(this)" onmouseout="unhighlightMenuItem(this)">Subscribe</a>
        </li>
        <li class="menu__list-item">
            <a class="menu__link" href="webform.hbs" onmouseover="highlightMenuItem(this)" onmouseout="unhighlightMenuItem(this)">TODO</a>
        </li>
    </ul>
</nav>