<div class="footer__content">
    <div class="container">
        <div class="footer__social">
            <a class="footer__social-link" href="#"><i class="fa-brands fa-facebook"></i></a>
            <a class="footer__social-link" href="#"><i class="fa-brands fa-twitter"></i></a>
            <a class="footer__social-link" href="#"><i class="fa-brands fa-telegram"></i></a>
            <a class="footer__social-link" href="#"><i class="fa-brands fa-vk"></i></a>
            <a class="footer__social-link" href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>