<form class="search-form__bar" onsubmit="event.preventDefault(); searchBooks();">
    <input id="searchInput" class="search-form__input" placeholder="Type the book">
    <button class="search-form__button" type="submit" onclick="searchBooks()">
        <img class="search-form__button-img" src="img/search.png">
    </button>
    
</form>