<div class="text">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur aliquam ab totam fugiat repellat, laudantium fuga deleniti quam aliquid ad tempora dolore? Quia saepe eveniet quaerat sed pariatur, nesciunt placeat voluptates excepturi?
    </p>
</div>