<div class="header__content">
    <div class="container">
        <div class="header__content-inner">
            {{> header/header_content/title}}
            {{> header/header_content/description}}
        </div>
    </div>
</div>