<div class="header__top">
    <div class="container">
        <div class="header__top-inner">
            {{> header/header_top/logo}}
            {{> header/header_top/menu}}
        </div> 
    </div>
</div>